#header
  margin 40px auto 0
  text-align center
  a
    color #fff
    &:hover
      color color-font
      text-decoration none
    
  h1
    font-weight normal
    font-size 3.0em
    line-height 1

  h4
    font-weight normal
    font-size 1.0em
    line-height 1
    margin-top 10px
    @media screen and (max-width: 600px)
      margin-bottom 10px
  
  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-right 30px
    @media screen and (max-width: 600px)
      display none
  @media screen and (max-width: 600px)
    margin 10px auto 0