pre
  .prettyprint
    display block
    background color-black
  .nocode
    background none
    color color-black
  .str
    color #ffa0a0
  .kwd
    color #f0e68c
    font-weight bold
  .com
    color #87ceeb
  .typ
    color #98fb98
  .lit
    color #cd5c5c
  .pun
    color #fff
  .pln
    color #fff
  .tag
    color #f0e68c
    font-weight bold
  .atn
    color #bdb76b
    font-weight bold
  .atv
    color #ffa0a0
  .dec
    color #98fb98

ol.linenums
  margin-top 0
  margin-bottom 0
  color #aeaeae
li
  .L0,
  .L1,
  .L2,
  .L3,
  .L5,
  .L6,
  .L7,
  .L8
    list-style-type none