// Color
color-background = #eee
color-font = #666
color-black = #333
color-meta = #ccc
color-border = #ddd
color-link = #4db7d9

// Font
font-default = "Microsoft Yahei", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Source Code Pro, Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

// Width
page-width = 940px